/* *{
    box-sizing: 0;
    margin: 0;
    padding: 0;

} */

html{
    font-size: 62.5%;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: chocolate;
}
body{
    text-align: center;
    color: rgb(247, 21, 21);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
}


.cabecera{
    position: relative;
    border: black;
    background-color: blueviolet;
    color: chartreuse;
    box-shadow: 60px -16px teal;
    padding-left: 40px;
    font-size: 5rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.img1
{   position: absolute;
    top: 300px;
    left: calc(15%);
    height: 40px;
    width: 40px;

}
.img2{
    position: absolute;
    top: 300px;
    right: calc(10%);
    height: 40px;
    width: 40px;

}

.body_first_p, p{

    text-align: center;
    
    font-size: 2rem;
    margin: 4rem;
}

footer{
background-color: cornflowerblue;
color: white;

}
