/* *{
    box-sizing: 0;
    margin: 0;
    padding: 0;

} */

html{
    font-size: 62.5%;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: chocolate;
}
body{
    text-align: center;
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
}

.body_first_p , p{

    text-align: center;
    color: black;
    font-size: 2rem;
    margin: 4rem;
}
