/* *{
    box-sizing: 0;
    margin: 0;
    padding: 0;

} */

html{
    font-size: 62.5%;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: chocolate;
}
body{
    text-align: center;
    color: rgb(247, 21, 21);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
}


.cabecera{
    border: black;
    background-color: blueviolet;
    color: chartreuse;
    font-size: 5rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.body_first_p, p{

    text-align: center;
    
    font-size: 2rem;
    margin: 4rem;
}
